body{
    background:url('imgs/beijing1.jpg') no-repeat fixed;
    background-size:100%;
}
a {
    text-decoration:none;
    color:blue;
}
a:hover{
    color:antiquewhite;
}
/*整个大的div*/
.page-wrapper{
    color:black;
    width:750px;
    font-size:20px;
    fnont-weigth:bold;
    position:absolute;
    left:100px;
    border:1px solid black;
    background-color:#a0a0a0;
    //opacity:0.5;
    padding:30px;
}
header>h1{
    color:white;
    font-size:60px;
    display:block;
    width:30px;
    heigth:100px;
    position:absolute;
    top:0px;
    right:180px;
    font-weigth:bold;
    text-shadow: -7px 7px 7px #dd4a68;
    position:fixed;
}
header h2 {
    font-family:"x-locale-heading-primary";
    font-size:50px;
    text-shadow: 4px 4px white;
    position:relative;
    left:10%;
    top:-25px;
}
.summary{
    font-weight: lighter;
    font-size:20px;
    border-radius: 2px;
    font-style:italic;
}
h3{
    margin:0px;
    background-color:#4d4353;
    color:white;
    display:block;
    width:760px;
    line-height:70px;
    font-size:30px;
    font-family: "Chilanka";
    border-radius: 8px;
    text-indent:10px;
}
p{
    font-family:"DejaVu Sans Condensed";
    font-style:italic;

}
/*h3:hover{*/
/*    !*background-color:#dd4a68;*!*/
/*    background-color:#006666;*/
/*    color:black;*/
/*}*/
abbr{
    font-weight: bold;
    color:#ff0000;
}
ul{
    list-style:none;
}



